.header__top {
  background: #000000;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-top__left {
  display: flex;
  align-items: center;
  padding: 14px 0;
}

.h-top__text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #969696;
}

.h-top__btn {
  cursor: pointer;
}

.h-top__icon {
  padding-right: 15px;
}

.header__bottom {
  background: #0F0F0F;
}

.h-menu {
  display: flex;
  align-items: center;
}

.h-menu__link {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #969696;
  padding: 31px 20px;
  transition: 500ms;
}

.h-menu__link-active {
  color: #FFFFFF;
}

.h-menu__link:hover {
  color: #FFFFFF;
  background: #1F1F1F;
}

.header__burger{
	font-size: 25px;
	color: #FFFFFF;
	display: none;
}


@media (max-width: 768px) {
  .h-menu__link {
    font-size: 13px;
    padding: 24px 16px;
  }
}

@media (max-width: 576px) {
  .header__top {
    display: none;
  }

	.h-menu{
		display: none;
	}

	.h-btm__logo{
		padding: 20px 0;
	}

	.header__burger{
		display: block;
	}
}