.main {
  background: url(../images/main-bg.jpg) no-repeat center / cover;
}

.main__card {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
  padding: 155px 0;
}

.main__box {
  width: 320px;
  height: 320px;
  border: 4px solid #FFFFFF;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__img {
  width: 185px;
}

.main__line {
  width: 185px;
  height: 2px;
  background: #fff;
  margin: 4px 0 7px;
}

.main__subtitle {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main__text {
  width: 100%;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 80px;
}


@media (max-width: 768px) {
  .main__card {
    padding: 110px 0;
  }

  .main__box {
    width: 290px;
    height: 290px;
  }

  .main__text {
    font-size: 13px;
    margin-top: 60px;
  }


}

@media (max-width: 576px) {
  .main__box {
    width: 230px;
    height: 230px;
  }

  .main__img,
  .main__line {
    width: 150px;
  }

  .main__subtitle {
    font-size: 18px;
  }
}