*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  /* background: #fff; */
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}

input,
button,
textarea {
  border: none;
  outline: none;
  resize: none;
	background: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}