.products {
  background: #000;
}


.products__title {
  padding-top: 120px;
}

.products__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  row-gap: 40px;
  padding: 80px 0 150px;
}

.products__card {
  flex: 0 0 23%;
}

@media (max-width: 992px) {
  .products__wrapper {
    gap: 30px;
    padding: 50px 0 100px;
    justify-content: center;
  }

  .products__title {
    padding-top: 100px;
  }

  .products__card {
    flex-basis: 30%;
  }
}

@media (max-width: 768px) {
  .products__wrapper {
    row-gap: 30px;
  }

  .products__title {
    padding-top: 70px;
  }

  .products__card {
    flex-basis: 45%;
  }
}

@media (max-width: 425px) {
  .products__wrapper {
    justify-content: center;
  }

  .products__card {
    flex-basis: 90%;
  }

  .products__card:nth-child(3n+1) {
    display: none;
  }
}